/* Hero section */
.hero-title {
  font-weight: 700;
  font-size: 40px;
  color: #222;
}

.hero-sub {
  font-size: 16px;
  color: #777;
  margin-bottom: 18px;
}

.hero-img {
  width: 420px;
  max-width: 100%;
}
